.logout-item {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;

    &:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }

    .icon {
        font-size: 18px;
        color: #7451f8;
        margin-right: 10px;
    }

    span {
        font-size: 13px;
        font-weight: 600;
        color: #888;
    }
}